.TitleToolbar {
    --background: #263949;
    color: white;
}

.MainContent {
    --background: #eee;
}

.MessageToolbar {
    --background: transparent;
}

.ChatBody, .ChatBody ion-item {
    background: rgba(0, 0, 0, 0)!important;
}